/* css styles */

.circular--square { border-radius: 50%; }

.centering h1 {
  text-align: center;
  border-bottom: 0;
}

.centering h2 {
  text-align: center;
  border-bottom: 0;
}

.centering h3 {
  text-align: center;
  border-bottom: 0;
}

.center--circular--square {
  border-radius: 50%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.no_underline h1 {
  border-bottom: 0;
}

.no_underline h2 {
  border-bottom: 0;
}

.no_underline h3 {
  border-bottom: 0;
}

svg {
  color : "red";
}


.google-map {
     padding-bottom: 50%;
     position: relative;
}

.google-map iframe {
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     position: absolute;
}

:root {
  --mermaid-node-bg-color: #F5F5DC;
  --mermaid-edge-color: #F5F5DC;
}
